<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>codeandweb</key>
        <dict>
            <key>generator</key>
            <string>TexturePacker 3.3.4 - http://www.codeandweb.com/texturepacker</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:395a65b4173210b3b52e1d16d7845209:a46191d137d24f16d6d13ae1b2691c9b:424a16897f1e7ea8778ce95bf8810e72$</string>
        </dict>
        <key>format</key>
        <string>APPL</string>
        <key>images</key>
        <array>
            <dict>
                <key>path</key>
                <string>walking.1.png</string>
                <key>size</key>
                <string>{2254,512}</string>
                <key>subimages</key>
                <array>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>crop_7_large.png</string>
                        <key>spriteOffset</key>
                        <string>{72,2}</string>
                        <key>spriteSourceSize</key>
                        <string>{450,450}</string>
                        <key>textureRect</key>
                        <string>{{1,1},{448,320}}</string>
                        <key>textureRotated</key>
                        <true/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>crop_8_large.png</string>
                        <key>spriteOffset</key>
                        <string>{62,34}</string>
                        <key>spriteSourceSize</key>
                        <string>{450,450}</string>
                        <key>textureRect</key>
                        <string>{{451,1},{400,314}}</string>
                        <key>textureRotated</key>
                        <true/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>crop_5_large.png</string>
                        <key>spriteOffset</key>
                        <string>{96,26}</string>
                        <key>spriteSourceSize</key>
                        <string>{450,450}</string>
                        <key>textureRect</key>
                        <string>{{853,1},{392,224}}</string>
                        <key>textureRotated</key>
                        <true/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>crop_10_large.png</string>
                        <key>spriteOffset</key>
                        <string>{72,34}</string>
                        <key>spriteSourceSize</key>
                        <string>{450,450}</string>
                        <key>textureRect</key>
                        <string>{{1247,1},{384,278}}</string>
                        <key>textureRotated</key>
                        <true/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>crop_1_large.png</string>
                        <key>spriteOffset</key>
                        <string>{120,40}</string>
                        <key>spriteSourceSize</key>
                        <string>{450,450}</string>
                        <key>textureRect</key>
                        <string>{{853,227},{346,262}}</string>
                        <key>textureRotated</key>
                        <true/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>crop_4_large.png</string>
                        <key>spriteOffset</key>
                        <string>{112,42}</string>
                        <key>spriteSourceSize</key>
                        <string>{450,450}</string>
                        <key>textureRect</key>
                        <string>{{451,317},{360,184}}</string>
                        <key>textureRotated</key>
                        <true/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>crop_6_large.png</string>
                        <key>spriteOffset</key>
                        <string>{112,26}</string>
                        <key>spriteSourceSize</key>
                        <string>{450,450}</string>
                        <key>textureRect</key>
                        <string>{{1633,1},{368,232}}</string>
                        <key>textureRotated</key>
                        <true/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>crop_9_large.png</string>
                        <key>spriteOffset</key>
                        <string>{160,26}</string>
                        <key>spriteSourceSize</key>
                        <string>{450,450}</string>
                        <key>textureRect</key>
                        <string>{{2003,1},{226,376}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>crop_3_large.png</string>
                        <key>spriteOffset</key>
                        <string>{104,50}</string>
                        <key>spriteSourceSize</key>
                        <string>{450,450}</string>
                        <key>textureRect</key>
                        <string>{{1633,235},{342,248}}</string>
                        <key>textureRotated</key>
                        <true/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>crop_2_large.png</string>
                        <key>spriteOffset</key>
                        <string>{111,51}</string>
                        <key>spriteSourceSize</key>
                        <string>{450,450}</string>
                        <key>textureRect</key>
                        <string>{{1201,281},{328,230}}</string>
                        <key>textureRotated</key>
                        <true/>
                    </dict>
                </array>
            </dict>
        </array>
        <key>version</key>
        <integer>1</integer>
    </dict>
</plist>
